header {
  display: grid;
  grid-column: 25% auto;

}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    display: inline;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: none;
    color: #414d2f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }

  .topnav a.unactive {
    font-weight: normal;
    color: #414d2f;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    font-weight: bold;
    color: #809B6D;
  }
